<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
   
    <configSections>
      <section
          name="hibernate-configuration"
          type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"
          />
    </configSections>
  
    <!--NHibernate Configure-->
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
      <session-factory>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
        <property name="connection.connection_string">
          Server=DS;initial catalog=CSharpLearning;uid=sa;pwd=Ms@10790164;Integrated Security=true
        </property>
        <property name="show_sql">true</property>
        <property name="dialect">NHibernate.Dialect.MsSql2014Dialect</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="use_outer_join">true</property>
        <property name="command_timeout">60</property>
        <property name="query.substitutions">ture 1, false 0, yes 'Y', no 'N'</property>
        <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
        <!--mapping which assembly-->
        <mapping assembly="NHibernate" /> 
      </session-factory>
    </hibernate-configuration>
</configuration>